<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532179747569-j1pt6vmjptt7n7ckmj6d1uduk61qi5vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532179747569-j1pt6vmjptt7n7ckmj6d1uduk61qi5vn</string>
	<key>API_KEY</key>
	<string>AIzaSyD4hbTeorSNvz37mHkd9jReZFN8mP8inlI</string>
	<key>GCM_SENDER_ID</key>
	<string>532179747569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbgapps.ixLoc</string>
	<key>PROJECT_ID</key>
	<string>ixloc-f5683</string>
	<key>STORAGE_BUCKET</key>
	<string>ixloc-f5683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532179747569:ios:d2c2aa222d482bcd</string>
	<key>DATABASE_URL</key>
	<string>https://ixloc-f5683.firebaseio.com</string>
</dict>
</plist>